<li>
    <%= link_to events_path do %>
        <i class="tiny material-icons left">event_note</i>
        Eventos
    <% end %>
</li>
<% if !person_signed_in? %>
    <li>
        <%= link_to person_data_path do %>
            <i class="tiny material-icons left">account_circle</i>
            Entrar
        <% end %>
    </li>
<% end %>
<% if person_signed_in? %>
    <li>
        <%= link_to person_data_path do %>
            <i class="tiny material-icons left">account_circle</i>
            Menu
        <% end %>
    </li>
<% end %>
<% if person_signed_in? %>
    <li>
        <%= link_to destroy_admin_session_path, method: :delete do %>
            <i class="tiny material-icons left">power_settings_new</i>
            Sair
        <% end %>
    </li>
<% end %>