<nav class="blue-grey darken-4">
    <div class="container">
        <div class="nav-wrapper">
            <%= link_to "Ticket Manager", root_path, class: "brand-logo" %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- Menu -->
                <%= render partial: "layouts/_partials/_application/menu" %>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <!-- Menu -->
    <%= render partial: "layouts/_partials/_application/menu" %>
</ul>