.super-background {
    background-image: url("backgrounds/escada-psicodelica.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: rgba(20, 20, 30, .92);
}